.container{
	width: 1020px;
	height: auto;
}
/*css thanh*/
/*css Linh*/
/*css Bao*/
/*css Haem*/
/*css Phe*/
	/*keep in touch*/
.khung .keepintouch{
	margin: 0 auto;
	width: 1020px;
	height: 520px;
	/*background: blue;*/
}
.keepintouch .titles{
	width: 1020px;
	height: 80px;
	/*background: green;*/
}
.titles h2{
	margin: 0;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 35px;
}
.keepintouch .lines{
	margin: 0 auto;
	width: 100px;
	height: 3px;
	background: black;
	margin-bottom: 5px;
}
.keepintouch .texts{
	margin: 0 auto;
	width: 85%;
	height: 85px;
	/*background: pink;*/
}
.texts p{
	margin: 0;
	text-align: center;
	line-height: 25px;
	font-size: 17px;
}
.keepintouch .textgrip{
	margin: 0 auto;
	width: 70%;
	height: 300px;
	/*background: violet;*/
}
.textgrip .information{
	float: left;
	width: 30%;
	height: 50px;
	/*background: orange;*/
	border: 1.5px solid gray;
	border-radius:10px;
	margin-bottom: 20px;
}
.diffs1{
	margin-left: 4.36%;
	margin-right: 4.36%;
}
.information .pics{
	float: left;
	width: 20%;
	height: 100%;
	/*background: green;*/
}
.pics img{
	width: 60%;
	height: 50%;
	padding: 8px;
}
.information .Yname{
	float: right;
	width: 80%;
	height: 100%;
/*	background: red;*/
}
.Yname p{
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 50px;
	color: gray;
}
.textgrip .write{
	clear: both;
	width: 99.6%;
	height: 150px;
	/*background: red;*/
	border: 1.5px solid gray;
	border-radius:10px;
}
.write .pics1{
	float: left;
	width: 8%;
	height: 50px;
	/*background: green;*/
}
.pics1 img{
	width: 50%;
	height: 50%;
	padding: 8px 15px;
}
.write .Yname1{
	float: left;
	width: 50%;
	height: 50px;
	/*background: blue;*/
}
.Yname1 p{
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 50px;
	color: gray;
}
.textgrip .send{
	clear: both;
	width: 100%%;
	height: 40px;
	/*background: blue;*/
	margin-top: 20px;
	
}
.send a{
	display: block;
	width: 100%;
	height: 100%;
	background:green;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	line-height: 40px;
	border-radius:10px;
}
.send a:hover{
	display: block;
	width: 100%;
	height: 100%;
	background:blue;
	color: red;
	border-radius:10px;
}
.khung .address{
	margin: 0 auto;
	width: 1020px;
	height: 100px;
	background: black;
	background-image: url(https://scontent.fdad3-2.fna.fbcdn.net/v/t1.15752-9/42089530_2146312812278248_8341852921591234560_n.jpg?_nc_cat=107&oh=865849d749efed1c631db25615874094&oe=5C27D800);
	position: relative;
	background-size: auto;
	background-position: center;
}
.address .add{
	float: left;
	width: auto;
	height: 100%;
	/*background: green;*/
	margin-left: 10%;
}
.add .pics2{
	float: left;
	width: 40px;
	height:100%;
	/*background: red;*/
}
.pics2 img{
	width: 60%;
	height: 40%;
	padding: 25px 10px;
}
.add .inform{
	float: left;
	width: auto;
	height: 80%;
	/*background: blue;*/
	padding-top: 20px;
}
.add .inform b{
	margin: 0;
	text-align: left;
	text-transform: capitalize;
	font-size: 20px;
	color: white;
	padding-left: 20px;
}
.add .inform p{
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	padding-left: 20px;
}
.diffs2 p{
	text-transform: none;
}
.khung .map{
	margin: 0 auto;
	width: 1020px;
	height: 300px;
	background: green;
}
.map img{
	width:100%;
	height: 100%;
}
.khung .footer{
	margin: 0 auto;
	width: 1020px;
	height: 50px;
	background: black;
}
.footer .copyright{
	width: 60%;
	height: 50px;
	float: left;
}
.copyright h4{
	margin: 0;
	color: white;
	padding-left: 50px;
	line-height: 50px;
}
.footer .team{
	float: left;
	width: 40%;
	height: 50px;
}
.team p{
	margin: 0;
	color: white;
	font-size: 20px;
	padding-left: 10px;
	line-height: 50px;
}